/************************************COMMUN*************************************/

body {
    font-family: 'Raleway', Arial, serif, sans-serif;
    font-size: 16px;
    margin: 0px 50px 0px 50px;
    max-width: 1400px;
    background: #FFFFFF
}

a {
    text-decoration: none;
}

h1,
.search-bar,
.filtres,
h2,
h3 {
    /***DIMENSIONS A REVOIR***/
    font-weight: 700;
}

h1,
h2 {
    font-size: 22px;
}

h3 {
    font-size: 16px;
}

.hebergement_populaire p,
.hebergement p {
    /****OK****/
    font-weight: 400;
    font-size: 14px;
}

/* attention le mot hébergement dans le header est en 500px*/

p,
li {
    font-weight: 400;
}

/*******************************************HEADER-***********************************/
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header_bar {
    display: flex;
    width: 18%;
    justify-content: space-between;
    font-size: 16px;
    padding-right: 10px;
}

.header_bar a {
    color: black;
    padding-top: 41px;
}

.header_bar a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

header img {
    display: flex;
    width: 62px;
    margin-top: 40px;
}


/**************************************PARTIE 2- RECHERCHE***********************************/

.partie_recherche h1{
margin-top: 68px;
}




.partie_recherche p {
    font-size: 16px;
}

form {
    display: flex;
    height: 48px;
    width: 100%;
    border-radius: 15px 0px 0px 15px;
    padding-top: 8px;
}

#bouton_i {
    /*******************logo barre de recherche************************/
    display: flex;
    width: 43px;
    height: 48px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#ville_search {
    /***************emplacement où faire la recherche*********************/
    width: 17%;
    border: 1px solid #F2F2F2;
    font-size: 18px;
    font-weight: bold;
    padding-left: 5px;
    color: black;

}

#search {
    /*******************bouton rechercher**************************/
    width: 11%;
    height: 48px;
    border-radius: 0px 15px 15px 0px;
    border: none;
    background-color: #0065FC;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    padding: auto;

}

#bouton_loupe {
    display: none;
}

/********************************************PARTIE 2 - FILTRES ******************************/
.filtres {
    /******************div entière des filtres**************/
    margin-top: 29px;
    display: flex;
    margin-bottom: 15px;
    width: 100%;
}

.titre_h3_filtres {
    margin-right: 38px;
    font-size: 18px;
}

.filtres>div {
    /**********Tous les icones et textes**********/
    display: flex;
    align-items: center;
    border-radius: 32px;

}

.filtres i {
    /*********************icône des différents filtres*********************************/
    color: #0065FC;
    padding-left: 14px;
    padding-right: 14px;
    width: 15px;
    align-items: center;
}

.filtres-icon {
    /*************texte dans les filtres***************/
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    margin-right: 42px;
    border: solid 2px #D9D9D9;
    border-radius: 25px;
    padding-right: 24px;
    font-size: 17px;
}

.filtres-icon:hover {
    background-color: #DEEBFF;
}

.i_plus_de_500 {
    display: flex;
    align-items: center;
    margin-top: 27px;
}

#i_information {
    display: flex;
    width: 24px;
    height: 24px;
    color: #0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 11px;
    
}

/***************************PARTIE 3 QUI ENGLOBE HEBERGEMENTS ET LES PLUS POPULAIRES*******************/
.hebergements_populaires {
    /*classe parents qui engloble hébergements et les plus populaires*/
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}

/**********************************PARTIE 4 - HEBERGEMENTS ***********************************/
.hebergements_a_marseille {
    width: 68%;
    /*taille faite par rapport a la class parents herbergements_populaires*/
    background-color: #F2F2F2;
    border-radius: 20px;
}

.hebergements_a_marseille h2 {
    margin: 37px 0px 10px 29px;
    
}

.tous_les_hebergements {
    /*L'ensemble des blocs hébergements*/
    display: flex;
    justify-content: space-between;
    width: 94%;
    flex-wrap: wrap;
    margin: auto;
}

.hebergement {
    /*Bloc avec image, h3, p et étoiles*/
    width: 31%;
    border: none;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    height: 190px;
    justify-content: space-between;
    margin-top: 18px;
    margin-bottom: 6px;
}

.hebergement img {
    width: 96%;
    object-fit: cover;
    height: 108px;
    border: none;
    border-radius: 20px 20px 0px 0px;
    padding: 5px;
}

.hebergement h3 {
    margin: auto;
    font-size: 16px;
    color: black;
    padding-left: 10px;
}

.hebergement p {
    margin: auto;
    color: black;
    padding-top: 5px;
    padding-left: 10px;
}

.etoiles_hebergement {
    padding-top: 3px;
    padding-left: 10px;
}

#afficher_plus {
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 18px;
    font-weight: 700;
}

/******************************** PARTIE 5 - LES PLUS POPULAIRES *****************************/
.les_plus_populaires {
    width: 29%;
    /*****taille faite par rapport a la class parents herbergements_populaires*****/
    background-color: #F2F2F2;
    border-radius: 20px;

}

.les_plus_populaires_avec_graph {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    padding-top: 22px;
    margin: auto;
}

.les_plus_populaires_avec_graph i {
    color: #0065FC;
}

.tous_les_hebergements_populaires {
    width: 100%;

}

.hebergement_populaire {
    display: flex;
    border: none;
    width: 88%;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 21px;
}

.hebergement_populaire img {
    width: 40%;
    height: 130px;
    border-radius: 20px 0px 0px 20px;
    padding: 5px;
    object-fit: cover;
}

.bloc_texte {
    width: 52%;
    padding-left: 10px;
    padding-top: 10px;
}


.hebergement_populaire h3 {
    margin-top: 7px;
    margin-bottom: -8px;
    font-size: 16px;
}



.etoiles_populaires {
    padding-top: 25px;
}

.etoiles_populaires_bleu_et_blanc{
    padding-top: 41px;
}


/***************************************PARTIE 6 - ACTIVITES **************************************/
#titre_activites_a_marseille {
    margin-top: 50px;
}

.toutes_les_activites {
    display: flex;
    object-fit: cover;
    justify-content: space-between;
    width: 100%;
}

.activites_a_marseille {
    width: 23%;
    border: none;
    border-radius: 20px;
}

.activites_a_marseille img {
    width: 100%;
    height: 389px;
    border: none;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    min-width: auto;
}

.activites_a_marseille h3 {
    padding-left: 20px;
    font-size: 16px;
    color: black;
}

/*************************************************étoiles**********************************************/
.etoiles {
    font-size: 12px;
}

.blue {
    color: #0065FC;
}

.grey {
    color: #F2F2F2;
}

/**************************************PARTIE 6 - FOOTER*****************************************/
footer {
    display: flex;
    background-color: #F2F2F2;
    width: 100%;
    height: 225px;
    margin-top: 45px;
}

ul {
    list-style-type: none;

    /*Pour enlever les puces de la liste*/
}

.sections_footer h3,
ul {
    padding-top: 25px;
    padding-left: 70px;
}

.sections_footer ul {
   margin-top: -29px;
    padding-left: 70px;

}

.sections_footer li {
    padding-top: 11px;
}


.sections_footer {
    width: 31%;
}

/*****************************************MEDIA QUERIES***********************************************/

/***************************************MOBILE*****************************************/

@media screen and (max-width:768px) {}