/************************************COMMUN*************************************/

body {
    font-family: 'Raleway', Arial, serif, sans-serif;
    font-size: 16px;
    margin: auto;
    max-width: 1400px;
    background: #FFFFFF
}

a {
    text-decoration: none;
}

h1,
.search-bar,
.filtres,
h2,
h3 {
    /***DIMENSIONS A REVOIR***/
    font-weight: 700;
}

.hebergement_populaire p,
.hebergement p {
    /****OK****/
    font-weight: 400;
    font-size: 14px;
}

/* attention le mot hébergement dans le header est en 500px*/

p,
li {
    font-weight: 400;
}

/*******************************************HEADER-***********************************/

header {

    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header_bar {
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.header_bar a {
    color: black;
    padding-top: 38px;
}

.header_bar a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

header img {
    display: flex;
    width: 62px;
    height: 20px;
    margin-top: 40px;
}


/**************************************PARTIE 2- RECHERCHE***********************************/

.partie_recherche {}

.search_bar {
    /************barre de recherche-formulaire en antier************/
    display: flex;
    width: 100%;
}

form {
    display: flex;
    width: 60%;
    height: 50px;
}

#bouton_i {
    /*******************logo barre de recherche************************/
    display: flex;
    width: 50px;
    height: 48px;
    border: 1px solid black;
    border-radius: 15px 0px 0px 15px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#ville_search {
    /***************emplacement où faire la recherche*********************/
    width: 150px;
    height: 50px;
}

#search {
    /*******************bouton rechercher**************************/
    width: 80px;
    height: 50px;
    border-radius: 0px 15px 15px 0px;
    border: none;
    background-color: #0065FC;
    color: #FFFFFF;
    font-weight: bold;
}

#bouton_loupe {
    display: none;
}

/********************************************PARTIE 2 - FILTRES ******************************/

.filtres {
    /******************div entière des filtres**************/
    margin-top: 15px;
    display: flex;
    margin-bottom: 15px;
    width: 70%;
}

.filtres i {
    padding-right: 10px;
    padding-left: 10px;
}

.titre_h3_filtres {
    margin-right: 30px;
}

.filtres>div {
    /**********Tous les icones et textes**********/
    display: flex;
    align-items: center;
    border-radius: 32px;
}

.filtres i {
    /*********************icône des différents filtres*********************************/
    color: #0065FC;
}

.filtres-icon {
    /*************texte dans les filtres***************/
    display: flex;
    align-items: center;
    width: 185px;
    height: 50px;
    margin-right: 34px;
    border: solid 2px #D9D9D9;
    border-radius: 25px;
    justify-content: space-evenly;
}

.filtres-icon:hover {
    background-color: #DEEBFF;
}

.i_plus_de_500 {
    display: flex;
    align-items: center;
}

#i_information {
    display: flex;
    width: 24px;
    height: 24px;
    color: #0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
}

/***************************PARTIE 3 QUI ENGLOBE HEBERGEMENTS ET LES PLUS POPULAIRES*******************/

.hebergements_populaires {
    /*classe parents qui engloble hébergements et les plus populaires*/
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}

/**********************************PARTIE 4 - HEBERGEMENTS ***********************************/

.hebergements_a_marseille {
    width: 65%;
    /*taille faite par rapport a la class parents herbergements_populaires*/
    background-color: #F2F2F2;
    border-radius: 20px;
}

.hebergements_a_marseille h2 {
    margin: 37px 0px 10px 29px;
}

.tous_les_hebergements {
    /*L'ensemble des blocs hébergements*/
    display: flex;
    justify-content: space-between;
    width: 95%;
    flex-wrap: wrap;
    margin: auto;
}

.hebergement {
    /*Bloc avec image, h3, p et étoiles*/
    width: 32%;
    border: none;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    height: 199px;
    justify-content: space-between;
    margin-top: 30px;
}

.hebergement img {
    width: 96%;
    object-fit: cover;
    height: 116px;
    border: none;
    border-radius: 20px 20px 0px 0px;
    padding: 4px;
}

.hebergement h3 {
    margin: auto;
    font-size: 16px;
    color: black;
    padding-left: 10px;
}

.hebergement p {
    margin: auto;
    color: black;
    padding-top: 3px;
    padding-left: 10px;
}

.etoiles_hebergement {
    padding-top: 3px;
    padding-left: 10px;
}

#afficher_plus {
    padding-top: 10px;
}

/******************************** PARTIE 5 - LES PLUS POPULAIRES *****************************/

.les_plus_populaires {
    width: 30%;
    /*****taille faite par rapport a la class parents herbergements_populaires*****/
    background-color: #F2F2F2;
    border-radius: 20px;
}

.les_plus_populaires_avec_graph {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding-left: 37px;
    padding-top: 17px;
}

.les_plus_populaires_avec_graph i {
    color: #0065FC;
}

.hebergement_populaire {
    display: flex;
    justify-content: space-between;
    border: none;
    width: 85%;
    height: 145px;
    border-radius: 20px;
    align-items: center;
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 20px;
}

.hebergement_populaire img {
    width: 137px;
    height: 94%;
    border-radius: 20px 0px 0px 20px;
    padding: 5px;
}

.hebergement_populaire h3 {
    margin-top: 2px;
}

/***************************************PARTIE 6 - ACTIVITES **************************************/

#titre_activites_a_marseille {
    margin-top: 50px;
}

.activites_a_marseille {
    display: flex;
    object-fit: cover;
    justify-content: space-between;
    width: 100%;
}

.toutes_les_activites {
    display: flex;
    justify-content: space-between;
    border: none;
    border-radius: 20px;
}

.toutes_les_activites img {
    width: 300px;
    height: 389px;
    border: none;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.toutes_les_activites h3 {
    padding-left: 20px;
    font-size: 16px;
    color: black;
}

/*************************************************étoiles**********************************************/

.etoiles {
    width: 12px;
    height: 12px;
}

.blue {
    color: #0065FC;
}

.grey {
    color: #F2F2F2;
}

/**************************************PARTIE 6 - FOOTER*****************************************/
footer {
    display: flex;
    background-color: #F2F2F2;
    width: 100%;
    height: 225px;
    margin-top: 45px;
}

ul {
    list-style-type: none;

    /*Pour enlever les puces de la liste*/
}

.sections_footer h3,
ul {
    padding-top: 45px;
    padding-left: 70px;
}

.sections_footer ul {
    padding-top: 2px;
    padding-left: 70px;
}

.sections_footer {
    width: 31%;
}




/*****************************************MEDIA QUERIES***********************************************/

/***************************************TABLETTE*****************************************/


@media screen and (max-width:768px) {

    /*************************************HEADER*********************/
    header {
        flex-direction: column;
        padding-top: 20px;
    }

    header img {
        margin: auto;
    }

    .header_bar {
        width: 100%;
        justify-content: center;
        padding-left: 0px;
        margin-top: 49px;
    }

    .header_bar a {
        width: 50%;
        text-align: center;
        margin: 1px;
        padding: 10px;
        border-bottom: 3px solid #F2F2F2;
        font-weight: 500;
    }

    .header_bar:hover {
        color: #0065FC;
    }

    /*****************************RECHERCHE************************/


    .partie_recherche h1 {
        text-align: center;
        word-wrap: break-word;
    }

    .partie_recherche p {
        text-align: center;
    }

    .search_bar {
        text-align: center;
    }


    /******************************************FILTRES**********************************/

    .filtres {
        display: flex;
        flex-direction: column;
    }

    .tous_les_filtres {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .filtres-icon {
        width: 300px;
    }





    /******************************************POPULAIRES***********************************/
.hebergements_populaires{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
}

.les_plus_populaires{
    width: 100%;
    display: flex;
    flex-direction: column;
}




    /*******************************************HEBERGEMENTS*************************/
    .hebergements_a_marseille {
        background-color: #FFFFFF;
        width: 100%;
       
    }

    .hebergements_a_marseille h2 {
        margin-top: 26px;
        margin-bottom: 19px;
    }

    .tous_les_hebergements {
        display: flex;
        flex-direction: row-reverse;
        
        
    }
.hebergement{
    width: 90%;
}


/*************************************ACTIVITES***********************************/

.activites_a_marseille{
    display: flex;
    flex-direction: column;
}

.toutes_les_activites{
    width: 90%;
    justify-content: center;
}





}