/************************************COMMUN*************************************/

body {
    font-family: 'Raleway', Arial, serif, sans-serif;
    font-size: 16px;
    margin: 0px 50px 0px 50px;
    max-width: 1400px;
    background: #FFFFFF
}

a {
    text-decoration: none;
}

h1,
.search-bar,
.filtres,
h2,
h3 {
    /***DIMENSIONS A REVOIR***/
    font-weight: 700;
}

h1,
h2 {
    font-size: 22px;
}

h3 {
    font-size: 16px;
}

.hebergement_populaire p,
.hebergement p {
    /****OK****/
    font-weight: 400;
    font-size: 14px;
}

/* attention le mot hébergement dans le header est en 500px*/

p,
li {
    font-weight: 400;
}

/*******************************************HEADER-***********************************/
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header_bar {
    display: flex;
    width: 22%;
    justify-content: space-between;
    font-size: 16px;
    
    
}

.header_bar a {
    color: black;
    padding-top: 41px;
    min-width: 80px;
 
}

.header_bar a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

header img {
    display: flex;
    width: 62px;
    height: 20px;
    margin-top: 40px;
}


/**************************************PARTIE 2- RECHERCHE***********************************/

.partie_recherche h1{
margin-top: 68px;
}

.partie_recherche p {
    font-size: 16px;
}

form {
    display: flex;
    height: 48px;
    width: 100%;
    border-radius: 15px 0px 0px 15px;
    padding-top: 8px;
}

#bouton_i {
    /*******************logo barre de recherche************************/
    display: flex;
    width: 43px;
    height: 48px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#ville_search {
    /***************emplacement où faire la recherche*********************/
    width: 17%;
    border: 1px solid #F2F2F2;
    font-size: 18px;
    font-weight: bold;
    padding-left: 5px;
    color: black;
    min-width: 170px;
}

#search {
    /*******************bouton rechercher**************************/
    
    height: 48px;
    border-radius: 0px 15px 15px 0px;
    border: none;
    background-color: #0065FC;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    min-width: 122px; 
}

#bouton_loupe {
    display: none;
}


/********************************************PARTIE 2 - FILTRES ******************************/
.filtres {
    /******************div entière des filtres**************/
    margin-top: 29px;
    display: flex;
    margin-bottom: 15px;
    width: 100%;
}

.titre_h3_filtres {  
    font-size: 18px;
}

.tous_les_filtres{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 32px;
}

.filtres i {
    /*********************icône des différents filtres*********************************/
    color: #0065FC;
    padding-left: 15px;
    padding-right: 15px;
    width: 15px;
    align-items: center;
}

.filtres-icon {
    /*************texte dans les filtres***************/
    display: flex;
    align-items: center;
    height: 50px;
    border: solid 2px #D9D9D9;
    border-radius: 25px;
    padding-right: 15px;
    font-size: 17px;
    margin-left: 41px;
    
}

.filtres-icon:hover {
    background-color: #DEEBFF;
}

.i_plus_de_500 {
    display: flex;
    align-items: center;
    margin-top: 27px;
}

#i_information {
    display: flex;
    width: 24px;
    height: 24px;
    color: #0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 11px;
    
}

/***************************PARTIE 3 QUI ENGLOBE HEBERGEMENTS ET LES PLUS POPULAIRES*******************/
.hebergements_populaires {
    /*classe parents qui engloble hébergements et les plus populaires*/
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}

/**********************************PARTIE 4 - HEBERGEMENTS ***********************************/
.hebergements_a_marseille {
    width: 66%;
    /*taille faite par rapport a la class parents herbergements_populaires*/
    background-color: #F2F2F2;
    border-radius: 20px;
}

.hebergements_a_marseille h2 {
   
    margin-left: 37px;
    margin-top: 40px;
}

.tous_les_hebergements {
    /*L'ensemble des blocs hébergements*/
    display: flex;
    justify-content: space-between;
    width: 92%;
    flex-wrap: wrap;
    margin: auto;
    margin-top: -11px;
}

.hebergement {
    /*Bloc avec image, h3, p et étoiles*/
    width: 31%;
    border: none;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    height: auto;
    margin-top: 18px;
    margin-bottom: 6px;
    box-shadow: 3px 3px 1px 1px #E5E4E4;
    padding:5px
}

.hebergement img {
    width: 100%;
    object-fit: cover;
    height: 108px;
    border: none;
    border-radius: 20px 20px 0px 0px;
    
}

.hebergement h3 {
    margin: auto;
    font-size: 16px;
    color: black;
    padding-left: 16px;
}

.hebergement p {
    margin: auto;
    color: black;
    padding-top: 5px;
    padding-left: 16px;
}

.etoiles_hebergement {
    padding-top: 3px;
    padding-left: 16px;
    padding-bottom: 5px;
}

.etoiles_hebergement i{
    width: 5%;
    font-size: 12px;
}


#afficher_plus {
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 18px;
    font-weight: 700;
}

/******************************** PARTIE 5 - LES PLUS POPULAIRES *****************************/
.les_plus_populaires {
    width: 31%;
    /*****taille faite par rapport a la class parents herbergements_populaires*****/
    background-color: #F2F2F2;
    border-radius: 20px;

}

.les_plus_populaires_avec_graph {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    padding-top: 22px;
    margin: auto;
}

.les_plus_populaires_avec_graph i {
    color: #0065FC;
}

.tous_les_hebergements_populaires {
    width: 100%;

}

.hebergement_populaire {
    display: flex;
    border: none;
    width: 85%;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 21px;
    box-shadow: 3px 3px 1px 1px #E5E4E4
}

.hebergement_populaire img {
    width: 37%;
    height: 134px;
    border-radius: 20px 0px 0px 20px;
    padding: 5px;
    object-fit: cover;
   
}

.bloc_gen{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 11px;
    height: auto;
    justify-content: space-between;
}

.bloc_gen h3{
    margin-top: 10px;
}

.bloc_gen p{
    margin-top: -13px;
}




.etoiles_populaires{
   margin-bottom: 10px;
}



.etoiles_populaires i{
    width: 12px;
    font-size: 12px;  
}





/***************************************PARTIE 6 - ACTIVITES **************************************/
#titre_activites_a_marseille {
    margin-top: 50px;
}

.toutes_les_activites {
    display: flex;
    object-fit: cover;
    justify-content: space-between;
    width: 100%;
}

.activites_a_marseille {
    width: 23%;
    border: none;
    border-radius: 20px;
    box-shadow: 3px 3px 1px 1px #E5E4E4
}

.activites_a_marseille img {
    width: 100%;
    height: 389px;
    border: none;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    min-width: auto;
}

.activites_a_marseille h3 {
    padding-left: 20px;
    font-size: 16px;
    color: black;
}

/*************************************************étoiles**********************************************/


.blue {
    color: #0065FC;
}

.grey {
    color: #F2F2F2;
}

/**************************************PARTIE 6 - FOOTER*****************************************/
footer {
    display: flex;
    background-color: #F2F2F2;
    width: 100%;
    margin-top: 45px;
}

ul {
    list-style-type: none;

    /*Pour enlever les puces de la liste*/
}

.sections_footer h3,
ul {
    padding-top: 25px;
    padding-left: 70px;
}

.sections_footer ul {
   margin-top: -29px;
    padding-left: 70px;

}

.sections_footer li {
    padding-top: 11px;
}


.sections_footer {
    width: 31%;
}
/***********************************************************************************************/
/*****************************************MEDIA QUERIES***********************************************/

/***************************************MOBILE*****************************************/

@media screen and (max-width:768px) {

    body{
        background-color: rgb(192, 192, 238);
      } 


 body{
    margin: 0px;
 }   

 /***************HEADER****************/

 header{
    flex-direction: column;
    padding-top: 20px;
 }

header img{
    margin: auto;
}

.header_bar{
    width:100%;
    margin-top:13px ;
}

.header_bar a{
    width: 50%;
    text-align: center;
    border-bottom: 3px solid #F2F2F2;
    padding-bottom: 25px;
    
}

.header_bar a:hover{
    border-bottom: 3px solid #0065FC;
    border-top: none;
}

/*******************RECHERCHE*****************/

.partie_recherche h1{
    width: 90%;
    text-align: center;
    margin-top: 35px;
}

.partie_recherche p{
    width: 90%;
    text-align: center;
}

/********************FORMULAIRE******************/

form{
    width: 100%;
    
}

#ville_search{
    width: 20%;
}

#search span{
    display: none;
}

#search{
    min-width: 50px;
}

#bouton_loupe{
    display: flex;
    display: inline;
}



/**********************FILTRES******************/


.filtres{
    
    width: 100%;
    flex-direction: column;
}

.titre_h3_filtres{
    margin-left: 28px;
}

.tous_les_filtres{
   
    flex-wrap: wrap;
    
}

.filtres-icon{
    
    font-size: 11px;
    display: flex;
    width: 36%;
    margin-bottom: 25px;
}

.filtres-icon i{
    margin-left: -2px;
    margin-right:-13px;
    
}

#i_information{
    
    margin-bottom: 24px;
}

.i_plus_de_500{
    padding-left: 28px;
}

/******************HEBERGEMENTS/POPULAIRES*******/

.hebergements_populaires{
    flex-direction: column-reverse;
}

/********************POPULAIRES******************/

.les_plus_populaires_avec_graph{
    margin-bottom: 29px;
}

.tous_les_hebergements_populaires{
    margin-bottom: 54px;
}

.hebergement_populaire{
    margin-top: -8px;
    width: 90%;
}


/*******************HEBERGEMENTS****************/

.hebergements_a_marseille{
    width: 100%;
    background-color: #FFFFFF;
    border-radius:0%;
}


.tous_les_hebergements{
    flex-direction: column;
    width: 90%;  
    
}



.hebergement{
    width: 100%;
}

.hebergement img{
    text-align: center;
}

.etoiles_hebergement i{
    width: 12px;
    height: 12px;
}



#afficher_plus{
    display: none;
}

/********************POPULAIRES*****************/

.les_plus_populaires{
    width: 100%;
    flex-direction: column;
    border-radius: 0%;
}

.les_plus_populaires_avec_graph{
    width: 90%;
}



/********************ACTIVITES******************/



#titre_activites_a_marseille{
    width: 50%;
    padding: 24px;
    padding-bottom: 0px;
}


.toutes_les_activites{
    width: 100%;
    flex-direction: column;
    padding-left: 20px;
}

.activites_a_marseille{
    width: 100%;
    justify-content: center;
  
}

.activites_a_marseille img{
    width: 87%;
    height: 150px;
    padding-left: 24px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.activites_a_marseille h3{
    padding-left: 41px;
}

/*********************FOOTER********************/

footer{
    width: 100%;
    flex-direction: column;
    background-color: #F2F2F2;
}

.sections_footer{
    width: 100%;
    
}

.sections_footer h3{
    padding-left: 28px;
}

.sections_footer ul{
    padding-left: 28px;
}

}

/*****************************************************************/
/***********************TABLETTE****************/


@media screen and (min-width: 769px) and (max-width: 991px) {


  body{
    background-color: pink;
  }  
/************************HEADER******************/

.header_bar{
    width: 30%;
    
}

/************************RECHERCHE****************/








/************************FILTRES*******************/

.tous_les_filtres{
    display:flex ;
    flex-wrap: wrap;
    width: 100%;
}

.filtres-icon{
   margin-left: 9px;
    min-width: 51px;
}

.filtres-icon i{
    padding-left: 5px;
    padding-right: 5px;
}

/*************************HEBERGEMENTS/POPULAIRES********/

.hebergements_populaires{
    display: flex;
    flex-direction: column;
}

/**************************HEBERGEMENTS*******************/

.hebergements_a_marseille{
    width: 100%;
}

.hebergements_a_marseille h2{
margin-left: 42px;
}

.tous_les_hebergements{
    width: 90%;
}

.hebergements_a_marseille{
    width: 100%;
}

/****************************POPULAIRES*******************/

.les_plus_populaires{
    width: 100%;
    margin-top: 53px;
}

.les_plus_populaires_avec_graph{
    width: 90%;
}

.tous_les_hebergements_populaires{
    width: 95%;
    display: flex;
    margin: auto;

}

.hebergement_populaire{
    width: 32%;

    
}

.hebergement_populaire img{
    width: 30%;
    height: auto;
    padding: 5px;
}



/********ACTIVITES*******/



.activites_a_marseille img{
    height: 200px;
}

}